@tailwind base;
@tailwind components;
@tailwind utilities;

.addFavoriteItemContainer:hover.material-symbols-outlined,
.addFavoriteItem:hover .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24;
}

.couponMember,
.couponPercentage,
.coupon {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.couponContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-wrap: nowrap;
    gap: 3px;
}

.couponPercentage {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding-inline: 5px;
}

.couponMember {
    text-underline-offset: 3px;
    text-decoration: underline;
}

.topNavbarSnackContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: right;
    width: 25%;
    padding-right: 20px;
}

.topNavbarSnack{ 
    font-size: 12px;
    text-wrap: nowrap;
    font-weight: 300;
    color: white
}

.topNavbarSnack:hover,
.navPath:hover{
    cursor: pointer;
    color: lightgray;
}

li {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
    column-rule: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.checkout,
.cart,
.emptyCart,
.addFavoriteItem,
.addCartItem {
    background: black;
    border: white;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 340px;
    height: 60px;
    border-radius: 50px;
    margin: 10px;
}

.addFavoriteItem {
    color: black;
    border: 2px solid lightgray;
    background: white;
    padding-right: 10px;
}

.addCartItem:hover {
    background: gray;
    border-color: gray;
    cursor: pointer;
}

.addFavoriteItem:hover {
    border: 2px solid black;
    cursor: pointer;
}

.addFavoriteItemContainer,
.addCartItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.addFavoriteItemContainer.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
}

.addFavoriteItemContainer.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
}

.buttonStack {
    display: flex;
    flex-direction: column;
}

.checkout,
.cart,
.emptyCart {
    background: white;
    color: gray;
    border: 2px solid lightgray;
}

.checkout,
.cart {
    color: gray;
}

.checkout,
.cart:hover {
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.emptyCart:hover {
    cursor: default;
}

.img {
    width: 35%;
    height: 35%;
    border-radius: 10px;
}

.sizeChartItem {
    font-size: 16px;
    width: 180px;
    height: 50px;
    color: gray;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.sizeChartItem:hover {
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.bottomnavbar,
.topnavbar {
    display: flex;
    height: 40px;
    justify-content: right;
    background: black;
}

.bottomnavbar {
    height: 1px;
    width: 100%;
    background: gray;
}

.navbar {
    display: flex;
    width: 100%;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbarSnackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbarSnack {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.navbarSnack:hover {
    cursor: pointer;
    color: lightgray;
}

.outerdiv {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.userPhoto {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid black;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 0 60px;
}

.userFlow,
.signupInput{
    width: 300px;
    height: 40px;
    border: 2px solid lightgray;
    border-radius: 30px;
    margin-left: 20px;
    padding-left: 10px;
}
.userFlowContainer {
    display: flex;
    justify-content: end;
}

.userFlowContainerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}